@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: none;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  max-width: 960px;
  margin: 1rem auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: orange;
}

ul {
  max-width: 600px ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  font-size: 80px;
}

.img_1 {
  background: url('../public/summer_forest.jpg') no-repeat center/cover;
}

.img_2 {
  background: url('../public/rain_city.jpg') no-repeat center/cover;
}

.img_3 {
  background: url('../public/winter_forest.jpg') no-repeat center/cover;
}
